html,
body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction: column;
	justify-content:center;
  	align-items:center;
	
	
}

body {	
	background: #ddd;
	font-size: 20px;
  	font-family: 'Julius Sans One', sans-serif;
}


header{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  font-size: 40px;
  margin: 0.5em 0em 0em 0em;
}
header div{
  margin: 0.6em;
}



.container {
	max-width:900px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	

}


.deck{
    width: 60%;
    margin: auto;
	background: #716F71;
	padding: 1em;
	border-radius: 5px;

	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);

    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    

  margin: 0 3em 3em 3em;
}

.deck .card {
	height: 14rem;
	width: 14rem;
	margin: 0.5rem 0.4rem;

	background: #2C2C2C;
	font-size: 0;

  color: #ffffff;
	border-radius: 5px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	background: #83FFE6;
	cursor: default;
  transition-duration: 0.2s;
	animation-duration: .75s;
}



img{
	width: 100%;
	height: 100%;
	opacity: 0;
	background: black;
	user-drag: none; 
	

}
.deck .card img{
	opacity:0;
	transition: all 1s;
}
.deck .card.show img{
	opacity: 0.7;
	visibility: visible;
}
.deck .card.match img{
	visibility: visible;
	opacity: 1;
}




.deck .card.show {
	font-size: 5rem;
}

.deck .card.match {
	cursor: default;
	background: #FCFCFC;
        color:black;
	font-size: 5rem;
        transition-duration: 0.7s;
}

.deck .card.unmatched {
	transition-duration: 0.2s;
	background:#FF5F5F;
}

.deck .card.disabled {
	pointer-events: none;
}



.timer{
  display: inline-block;
	margin: 0 1rem;

}
.counter{
  display: inline-block;
}


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.show{
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;

  border-radius: 5px;
  overflow: hidden;
	width: 70%;
	position: relative;
  font-size: 1.5rem;
}

#play-again {
	background-color: #333;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	color: #ffffff;
  border: 0px;
	border-radius: 5px;
}
#play-again:hover{
  opacity: 0.9;
  transition-duration: 0.2s;
}

@media (max-device-width: 1000px),(max-width:600px),(orientation:portrait)  {

  header{
    font-size: 3rem;
    flex-direction: row;
    font-size:1em;
  }
  .deck{
    width: 90%;
    height: auto;
  }
  .deck .card{
    height: 14rem;
  	width: 14rem;
  }


  .overlay{
    width: 100%;
    height: 100%;
  }
  .popup{
    display: flex;
    justify-content: space-around;
    width:80vw;
    height: 80vh;
    font-size: 2.5rem;
    min-height: 600px;
    border-radius: 5px;
  }

  #play-again{
    width:70%;
    height: 20%;
    font-size: 5rem;
    border-radius: 10px;
  }

}

@media (orientation:landscape){
	header{
	font-size: 1rem;
	}

	.deck .card{
    height: 8rem;
  	width: 8rem;
  }



	.overlay{
	    width: auto;
	    height: auto;
	  }
	  .popup{
	    display: flex;
	    justify-content: space-around;
	    width:80vw;
	    height: 80vh;
	    font-size: 1.5rem;
	    min-height:auto;
	    border-radius: 5px;
	  }

	  #play-again{
	    width:70%;
	    height: 20%;
	    font-size: 2rem;
	    border-radius: 10px;
	  }

}


